<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65985740707-2qiveh5gajppt85n527k6qp0cu23tva9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65985740707-2qiveh5gajppt85n527k6qp0cu23tva9</string>
	<key>API_KEY</key>
	<string>AIzaSyD1L2iHs3tggDdCV1lEF6syd-Qj-VPHfH8</string>
	<key>GCM_SENDER_ID</key>
	<string>65985740707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dbMe</string>
	<key>PROJECT_ID</key>
	<string>studentrec-46da7</string>
	<key>STORAGE_BUCKET</key>
	<string>studentrec-46da7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65985740707:ios:77fa41a38bf38b97022416</string>
</dict>
</plist>